
  <!-- <nav class="navbar navbar-default">
    <div class="navbar-header">
      <a href="#/"><img src="assets/angular.png" class="logo" /></a>
    </div>
    <ul class="nav navbar-nav nav-pills">
      <li routerLinkActive="active">
        <a routerLink="/BasicDetails">Basic Details</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/InvestmentDetails">Investment Details</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ExpensesDetails">Expenses Details</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/DebtDetails">Debt Details</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/MiscellaneousDetails"> Miscellaneous Details</a>
      </li>
    </ul>
  </nav> -->
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
    </div>
  </nav>

  <main>
    <router-outlet></router-outlet>
  </main>

