<div class="container">
  <form novalidate (ngSubmit)="onSubmit()" #f="ngForm">
    <fieldset ngModelGroup="name">
      <div class="form-group" [ngClass]="{
          'has-danger':
            name.invalid && (name.dirty || name.touched),
          'has-success':
            name.valid && (name.dirty || name.touched)
        }">
        <label>Name</label>
        <input type="text" class="form-control" name="name" id="name" [(ngModel)]="model.name" required
          #name="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="(name.errors || !name.valid) && (name.dirty || name.touched)">Name is Invalid.
        </div>
      </div>

      <div class="form-group" [ngClass]="{
          'has-danger':
          (age.errors || !age.valid || age.value < 12 || age.value > 60) && (age.dirty || age.touched),
          'has-success': (age.valid || age.value >= 12 || age.value <= 60) && (age.dirty || age.touched)
        }">
        <label>Age</label>
        <input type="age" class="form-control" name="age" id="age" maxlength="2" [(ngModel)]="model.age" required
          #age="ngModel" />
          <div class="alert alert-danger" role="alert" *ngIf="(age.errors || !age.valid || age.value < 12 || age.value > 60) && (age.dirty || age.touched)">Age is Invalid. Should be between 12 to 60.
        </div>
      </div>
    </fieldset>

    <div class="form-group" [ngClass]="{
        'has-danger': retirementAge.invalid && (retirementAge.dirty || retirementAge.touched),
        'has-success': retirementAge.valid && (retirementAge.dirty || retirementAge.touched)
      }">
      <label>Retirement Age</label>
      <input type="age" class="form-control" name="retirementAge" id="retirementAge" maxlength="2"  [(ngModel)]="model.retirementAge" required minlength="2"
        #retirementAge="ngModel" />
      <div class="alert alert-danger" role="alert" *ngIf="(retirementAge.errors || !retirementAge.valid || retirementAge.value < 25 || retirementAge.value > 70)  && (retirementAge.dirty || retirementAge.touched)">Retirement Age is Invalid. Should be between 25 to 70.
      </div>
    </div>

    <div class="form-group" [ngClass]="{
        'has-danger': planTillAge.invalid && (planTillAge.dirty || planTillAge.touched),
        'has-success': planTillAge.valid && (planTillAge.dirty || planTillAge.touched)
      }">
      <label>Plan Till Age</label>
      <input type="age" class="form-control" name="planTillAge" id="planTillAge"  maxlength="2" [(ngModel)]="model.planTillAge" required minlength=2
        #planTillAge="ngModel" />
        <div class="alert alert-danger" role="alert" *ngIf="(planTillAge.errors || !planTillAge.valid || planTillAge.value < 25 || planTillAge.value > 99)  && (planTillAge.dirty || planTillAge.touched)">Plan Till Age is Invalid. Should be between 25 to 99.
      </div>
    </div>

    <div class="form-group" [ngClass]="{
      'has-danger': monthlyIncome.invalid && (monthlyIncome.dirty || monthlyIncome.touched),
      'has-success': monthlyIncome.valid && (monthlyIncome.dirty || monthlyIncome.touched)
    }">
    <label>Monthly Income</label>
    <input type="phone" class="form-control" name="monthlyIncome" id="monthlyIncome" [(ngModel)]="model.monthlyIncome" required minlength="4" maxlength="7"
      #monthlyIncome="ngModel" />
      <div class="alert alert-danger" role="alert" *ngIf="(monthlyIncome.errors || !monthlyIncome.valid || monthlyIncome.value < 1000 || monthlyIncome.value > 9999999) && (monthlyIncome.dirty || monthlyIncome.touched)">Monthly Income is Invalid. Should be between 1000 to 9999999.
    </div>
  </div>

    <!-- <div class="form-group">
      <label>Language</label>
      <select class="form-control" name="language" [(ngModel)]="model.language">
        <option value="">Please select a language</option>
        <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
      </select>
    </div> -->

    <button type="submit" class="btn btn-primary" [disabled]="f.invalid">
      Submit
    </button>
  </form>
</div>
